MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxx.mongodb.net/dudi_system?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change-me-to-a-long-random-string
PORT=3001
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,https://dudisystem.vercel.app

FILE_STORAGE_PROVIDER=local
FILE_STORAGE_LOCAL_ROOT=./storage/files

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=dudi

TEMPLATE_OVERRIDE_ROOT=./storage/templates
